.section {
  width: 100%;

  overflow: hidden;

  &:not(.section_grid) {
    & .container {
      display: flex;
      flex-direction: column;
      gap: var(--section-gap);
    }
  }

  &_padding {
    &_top {
      padding-top: var(--section-padding);
    }

    &_bottom {
      padding-bottom: var(--section-padding);
    }
  }
}
