:root {
  --current-background-color: var(--background-color); // Техническое свойство, просто так не удалять!!!
  --current-text-color: var(--white-color); // Техническое свойство, просто так не удалять!!!

  --white-color: #D9D9D9;
  --black-color: #0D0D0D;
  --black-color-30: rgba(13, 13, 13, 0.3);
  --primary-color: #29db91;
  --primary-dark-color: #117a4e;
  --background-color: var(--black-color);
  --transparent-color: #00000000;
}