:root {
  --content-width: #{rem(1260)};
  --container-offset: #{rem(93)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  @include mediaBigDesktop {
    --content-width: #{big(1260)};
    --container-offset: #{big(93)};
  }

  @include mediaLaptop {
    --container-offset: #{rem(93)};
  }

  @include mediaTablet {
    --container-offset: #{rem(49)};
  }

  @include mediaMobile {
    --container-offset: #{rem(21)};
  }
}
