:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Unbounded", sans-serif;

  --current-font: var(--font-default); // Техническое свойство, просто так не удалять!!!

  --font-default: 400 #{rem(16)}/1.5 var(--font-primary);
}