:root {
  --font-primary:     "Golos", sans-serif;
  --font-secondary:   "Onest", sans-serif;

  --current-font: var(--font-body-M-l); // Техническое свойство, просто так не удалять!!!

  --font-h1:          500 #{rem(108)}/1.2 var(--font-primary);
  --font-h1-2:        var(--font-h1);
  --font-h1-3:        500 #{rem(76)}/1.3 var(--font-primary);
  --font-h2:          500 #{rem(102)}/1.2 var(--font-primary);
  --font-h2-2:        500 #{rem(104)}/1.2 var(--font-primary);
  --font-h3:          500 #{rem(80)}/1.2 var(--font-primary);

  --font-h2-article:  500 #{rem(64)}/1.4 var(--font-primary);
  --font-h3-article:  500 #{rem(50)}/1.4 var(--font-primary);
  --font-h4-article:  500 #{rem(40)}/1.4 var(--font-primary);

  --font-title-L:     500 #{rem(64)}/1.3 var(--font-primary);
  --font-title-M:     500 #{rem(40)}/1.5 var(--font-secondary);
  --font-title-S:     500 #{rem(28)}/1.5 var(--font-secondary);

  --font-body-M-m:    500 #{rem(26)}/1.5 var(--font-secondary);
  --font-body-M-r:    400 #{rem(26)}/1.5 var(--font-secondary);
  --font-body-M-l:    300 #{rem(26)}/1.5 var(--font-secondary);
  --font-body-S-m:    500 #{rem(22)}/1.5 var(--font-secondary);
  --font-body-S-r:    400 #{rem(22)}/1.5 var(--font-secondary);
  --font-body-S-l:    300 #{rem(22)}/1.5 var(--font-secondary);
  --font-body-XS-m:   500 #{rem(20)}/1.5 var(--font-secondary);
  --font-body-XS-r:   400 #{rem(20)}/1.5 var(--font-secondary);
  --font-body-XS-l:   300 #{rem(20)}/1.5 var(--font-secondary);

  --font-number:      500 #{rem(104)}/1.2 var(--font-primary);
  --font-price:       500 #{rem(80)}/1.2 var(--font-primary);
  --font-btn:         500 #{rem(22)}/1.5 var(--font-secondary);
  --font-btn-s:       500 #{rem(18)}/1.5 var(--font-secondary);
  --font-btn-cap:     var(--font-btn);

  @include mediaBigDesktop {
    --font-h1:          500 #{big(108)}/1.2 var(--font-primary);
    --font-h1-3:        500 #{big(76)}/1.3 var(--font-primary);
    --font-h2:          500 #{big(102)}/1.2 var(--font-primary);
    --font-h2-2:        500 #{big(102)}/1.2 var(--font-primary);
    --font-h3:          500 #{big(80)}/1.2 var(--font-primary);

    --font-h2-article:  500 #{big(64)}/1.4 var(--font-primary);
    --font-h3-article:  500 #{big(50)}/1.4 var(--font-primary);
    --font-h4-article:  500 #{big(40)}/1.4 var(--font-primary);

    --font-title-L:     500 #{big(64)}/1.3 var(--font-primary);
    --font-title-M:     500 #{big(40)}/1.5 var(--font-secondary);
    --font-title-S:     500 #{big(28)}/1.5 var(--font-secondary);

    --font-body-M-m:    500 #{big(26)}/1.5 var(--font-secondary);
    --font-body-M-r:    400 #{big(26)}/1.5 var(--font-secondary);
    --font-body-M-l:    300 #{big(26)}/1.5 var(--font-secondary);
    --font-body-S-m:    500 #{big(22)}/1.5 var(--font-secondary);
    --font-body-S-r:    400 #{big(22)}/1.5 var(--font-secondary);
    --font-body-S-l:    300 #{big(22)}/1.5 var(--font-secondary);
    --font-body-XS-m:   500 #{big(20)}/1.5 var(--font-secondary);
    --font-body-XS-r:   400 #{big(20)}/1.5 var(--font-secondary);
    --font-body-XS-l:   300 #{big(20)}/1.5 var(--font-secondary);

    --font-number:      500 #{big(104)}/1.2 var(--font-primary);
    --font-price:       500 #{big(80)}/1.2 var(--font-primary);
    --font-btn:         500 #{big(22)}/1.5 var(--font-secondary);
    --font-btn-s:       500 #{big(18)}/1.5 var(--font-secondary);
  }

  @include mediaDesktop {
    --font-h1:          500 #{rem(82)}/1.2 var(--font-primary);
    --font-h1-3:        500 #{rem(62)}/1.3 var(--font-primary);
    --font-h2:          500 #{rem(78)}/1.2 var(--font-primary);
    --font-h2-2:        500 #{rem(78)}/1.2 var(--font-primary);
    --font-h3:          500 #{rem(64)}/1.2 var(--font-primary);

    --font-h2-article:  500 #{rem(50)}/1.4 var(--font-primary);
    --font-h3-article:  500 #{rem(36)}/1.4 var(--font-primary);
    --font-h4-article:  500 #{rem(30)}/1.4 var(--font-primary);

    --font-title-L:     500 #{rem(50)}/1.3 var(--font-primary);
    --font-title-M:     500 #{rem(30)}/1.5 var(--font-secondary);
    --font-title-S:     500 #{rem(22)}/1.5 var(--font-secondary);

    --font-body-M-m:    500 #{rem(20)}/1.5 var(--font-secondary);
    --font-body-M-r:    400 #{rem(20)}/1.5 var(--font-secondary);
    --font-body-M-l:    300 #{rem(20)}/1.5 var(--font-secondary);
    --font-body-S-m:    500 #{rem(18)}/1.5 var(--font-secondary);
    --font-body-S-r:    400 #{rem(18)}/1.5 var(--font-secondary);
    --font-body-S-l:    300 #{rem(18)}/1.5 var(--font-secondary);
    --font-body-XS-m:   500 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-XS-r:   400 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-XS-l:   300 #{rem(16)}/1.5 var(--font-secondary);

    --font-number:      500 #{rem(78)}/1.2 var(--font-primary);
    --font-price:       500 #{rem(64)}/1.2 var(--font-primary);
    --font-btn:         500 #{rem(18)}/1.5 var(--font-secondary);
    --font-btn-s:       500 #{rem(16)}/1.5 var(--font-secondary);
  }

  @include mediaLaptop {
    --font-h1:          500 #{rem(60)}/1.2 var(--font-primary);
    --font-h1-3:        500 #{rem(44)}/1.3 var(--font-primary);
    --font-h2:          500 #{rem(56)}/1.2 var(--font-primary);
    --font-h2-2:        500 #{rem(52)}/1.2 var(--font-primary);
    --font-h3:          500 #{rem(44)}/1.2 var(--font-primary);

    --font-h2-article:  500 #{rem(36)}/1.4 var(--font-primary);
    --font-h3-article:  500 #{rem(28)}/1.4 var(--font-primary);
    --font-h4-article:  500 #{rem(22)}/1.4 var(--font-primary);

    --font-title-L:     500 #{rem(36)}/1.3 var(--font-primary);
    --font-title-M:     500 #{rem(22)}/1.5 var(--font-secondary);
    --font-title-S:     500 #{rem(18)}/1.5 var(--font-secondary);

    --font-body-M-m:    500 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-M-r:    400 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-M-l:    300 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-S-m:    500 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-S-r:    400 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-S-l:    300 #{rem(16)}/1.5 var(--font-secondary);
    --font-body-XS-m:   500 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-XS-r:   400 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-XS-l:   300 #{rem(14)}/1.5 var(--font-secondary);

    --font-number:      500 #{rem(52)}/1.2 var(--font-primary);
    --font-price:       500 #{rem(44)}/1.2 var(--font-primary);
    --font-btn:         500 #{rem(16)}/1.5 var(--font-secondary);
    --font-btn-s:       500 #{rem(14)}/1.5 var(--font-secondary);
  }

  @include mediaTablet {
    --global-text-indent: unset;

    --font-h1:          500 #{rem(46)}/1.2 var(--font-primary);
    --font-h1-3:        500 #{rem(32)}/1.3 var(--font-primary);
    --font-h2:          500 #{rem(40)}/1.2 var(--font-primary);
    --font-h2-2:        var(--font-h2);
    --font-h3:          500 #{rem(32)}/1.2 var(--font-primary);

    --font-h2-article:  500 #{rem(28)}/1.4 var(--font-primary);
    --font-h3-article:  500 #{rem(22)}/1.4 var(--font-primary);
    --font-h4-article:  500 #{rem(18)}/1.4 var(--font-primary);

    --font-title-L:     500 #{rem(22)}/1.3 var(--font-primary);
    --font-title-M:     500 #{rem(18)}/1.5 var(--font-secondary);
    --font-title-S:     500 #{rem(16)}/1.5 var(--font-secondary);

    --font-body-M-m:    500 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-M-r:    400 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-M-l:    300 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-S-m:    500 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-S-r:    400 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-S-l:    300 #{rem(14)}/1.5 var(--font-secondary);
    --font-body-XS-m:   500 #{rem(12)}/1.5 var(--font-secondary);
    --font-body-XS-r:   400 #{rem(12)}/1.5 var(--font-secondary);
    --font-body-XS-l:   300 #{rem(12)}/1.5 var(--font-secondary);

    --font-number:      500 #{rem(40)}/1.2 var(--font-primary);
    --font-price:       500 #{rem(40)}/1.2 var(--font-primary);
    --font-btn:         500 #{rem(14)}/1.5 var(--font-secondary);
    --font-btn-s:       var(--font-btn);
    --font-btn-cap:     500 #{rem(12)}/1.5 var(--font-secondary);
  }

  @include mediaMobile {
    --font-h1:          500 #{rem(26)}/1.2 var(--font-primary);
    --font-h1-3:        500 #{rem(20)}/1.3 var(--font-primary);
    --font-h2:          500 #{rem(22)}/1.3 var(--font-primary);
    --font-h3:          500 #{rem(20)}/1.3 var(--font-primary);

    --font-h2-article:  500 #{rem(22)}/1.4 var(--font-primary);
    --font-h3-article:  500 #{rem(18)}/1.4 var(--font-primary);
    --font-h4-article:  500 #{rem(16)}/1.4 var(--font-primary);

    --font-title-L:     500 #{rem(18)}/1.5 var(--font-primary);
    --font-title-M:     500 #{rem(16)}/1.5 var(--font-secondary);
    --font-title-S:     500 #{rem(14)}/1.5 var(--font-secondary);

    --font-body-S-m:    500 #{rem(12)}/1.5 var(--font-secondary);
    --font-body-S-r:    400 #{rem(12)}/1.5 var(--font-secondary);
    --font-body-S-l:    300 #{rem(12)}/1.5 var(--font-secondary);

    --font-number:      500 #{rem(32)}/1.2 var(--font-primary);
    --font-price:       500 #{rem(28)}/1.2 var(--font-primary);
  }
}
