:root {
  --grid-column-gap: #{rem(20)};
  --grid-row-gap: #{rem(20)};

  @include mediaBigDesktop {
    --grid-column-gap: #{big(20)};
    --grid-row-gap: #{big(20)};
  }

  @include mediaMobile {
    --grid-column-gap: #{rem(10)};
    --grid-row-gap: #{rem(10)};
  }
}
