:root {
  --section-padding: #{rem(100)};
  --section-gap: #{rem(50)};

  @include mediaBigDesktop {
    --section-padding: #{big(100)};
    --section-gap: #{big(50)};
  }

  @include mediaLaptop {
    --section-padding: #{rem(75)};
  }

  @include mediaTablet {
    --section-padding: #{rem(55)};
    --section-gap: #{rem(30)};
  }

  @include mediaMobile {
    --section-padding: #{rem(45)};
    --section-gap: #{rem(25)};
  }
}
