[data-accordion-hidden] {
  padding-top: 0;
  height: 0;
  box-sizing: content-box;

  overflow: hidden;

  transition: height var(--animation-default),
    padding-top var(--animation-default);
}

[data-accordion-current] {
  display: flex;

  cursor: pointer;

  & > .icon {
    position: relative;
    z-index: 2;
    margin-left: auto;

    transition: transform var(--animation-default),
      fill var(--animation-default);

    pointer-events: all;

    @include hover {
      fill: var(--accent-primary-default);
    }
  }
}

[data-accordion-content] {
  padding-top: 0;

  transition: padding-top var(--animation-default);
}

.js-accordion-active {
  & > [data-accordion-current] {
    & > .icon {
      transform: rotate(180deg);
    }
  }
}
