@import '../_mixins.scss';

.footer {
  padding-top: rem(16);
  padding-bottom: rem(16);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(32);
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: rem(32);

    @include mobile {
      gap: rem(24);
    }
  }

  &__svg {
    height: rem(42);
    width: auto;
    object-fit: contain;
    object-position: center;

    @include mobile {
      height: rem(30);
    }

    @media (max-width: rem(374)) {
      height: rem(24);
    }
  }

  &__link {
    transition: opacity .15s var(--cubic-bezier);

    @include hover {
      opacity: .5;
    }
  }
}
