@import '../_mixins.scss';

.stack {
  width: 100%;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__swiper {
    width: 100%;
    overflow: visible;

    &-wrapper {
      will-change: transform;
    }

    &-slide {
      width: fit-content;
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      width: rem(50);
      height: rem(50);
      background: rgba(48, 48, 48, 0.7);
      border-radius: 50px;
      transition: opacity .15s var(--cubic-bezier),
        transform .15s var(--cubic-bezier);

        @include mobile {
          width: rem(40);
          height: rem(40);
        }

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        background: url(../img/svg/arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: -2px;right: 0;bottom: 0;left: 0;
        margin: auto;

      }
    }
    & .swiper-button-next {
      transform: rotate(90deg);

      @include hover {
        transform: scale(1.1) rotate(90deg);
      }
    }
    & .swiper-button-prev {
      transform: rotate(-90deg);

      @include hover {
        transform: scale(1.1) rotate(-90deg);
      }
    }
    & .swiper-button-disabled {
      opacity: 0;
    }

  }

  &__image {
    display: flex;
    width: rem(150);
    height: rem(150);
    object-fit: contain;
    object-position: center;
  }

  &_background {
    width: rem(130);
    height: rem(130);
    background: var(--white-color);
    border-radius: rem(20);
    padding: 10px;
  }
}
