.button.button_small {
  --button-min-height: #{rem(64)};
  --button-offset: #{rem(2.5)};
  --button-padding: #{rem(25)};

  @include mediaBigDesktop {
    --button-min-height: #{big(64)};
    --button-offset: #{big(2.5)};
    --button-padding: #{big(25)};
  }

  @include mediaDesktop {
    --button-min-height: #{rem(50)};
    --button-padding: #{rem(15)};
  }

  @include mediaLaptop {
    --button-min-height: #{rem(44)};
    --button-padding: #{rem(12)};
  }

  & .button {
    &__text {
      font: var(--font-btn-s);
    }
  }
}
