$track_color: var(--current-background-color);
$thumb_color: var(--current-text-color);
$thumb_color_hover: var(--primary-color);
$border_color: var(--current-background-color);
$line_size: rem(10);
$line_hight: $line_size;
$radius: 160px;
$offset: rem(3);

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: $line_size;
  }

  &::-webkit-scrollbar-track {
    background: $track_color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb_color;
    border: $offset solid $border_color;
    border-radius: $radius;

    cursor: pointer;

    @include hover {
      background-color: $thumb_color_hover;
    }
  }
}

@mixin scrollbarHorizontal {
  &::-webkit-scrollbar {
    height: $line_hight;
  }

  &::-webkit-scrollbar-track {
    background: $track_color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb_color;
    border: $offset solid $border_color;
    border-radius: $radius;

    cursor: pointer;

    @include hover {
      background-color: $thumb_color_hover;
    }
  }
}

@mixin scrollbarDelete {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
