.icon {
  width: rem(30);
  height: rem(30);
  display: block;
  flex-shrink: 0;

  fill: var(--text-dark-100);

  pointer-events: none;
  user-select: none;

  @include mediaBigDesktop {
    width: big(30);
    height: big(30)
  }

  @include mediaDesktop {
    width: rem(24);
    height: rem(24);
  }

  @include mediaLaptop {
    width: rem(20);
    height: rem(20);
  }

  @include mediaTablet {
    width: rem(16);
    height: rem(16);
  }
}
