/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  mix-blend-mode: lighten;
  overflow: hidden;
  z-index: 6;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3.125rem;
}
@media (max-width: 86.875rem) {
  .header__container {
    gap: 1.875rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
}
@media (max-width: 703px) {
  .logo {
    margin-left: auto;
  }
}
.logo__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  stroke: var(--white-color);
  width: 7.5rem;
  height: auto;
  aspect-ratio: 120/51;
  -webkit-transition: stroke 0.15s var(--cubic-bezier), opacity 0.15s var(--cubic-bezier);
  transition: stroke 0.15s var(--cubic-bezier), opacity 0.15s var(--cubic-bezier);
}
@media (max-width: 703px) {
  .logo__svg {
    width: 5.625rem;
  }
}
@media (any-hover: hover) {
  .logo:hover svg {
    stroke: var(--primary-color);
    opacity: 0.8;
  }
}
.logo:focus svg {
  stroke: var(--primary-color);
  opacity: 0.8;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.5rem;
}
@media (max-width: 86.875rem) {
  .nav {
    display: none;
  }
}

.social {
  margin-left: auto;
}
@media (max-width: 703px) {
  .social {
    display: none;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 2rem;
}
.social__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 4.5rem;
  height: 100%;
  text-decoration: none;
}
@media (any-hover: hover) {
  .social__link:hover .social__text {
    background: var(--white-color);
    color: var(--black-color);
  }
}
.social__link:focus .social__text {
  background: var(--white-color);
  color: var(--black-color);
}
.social__icon {
  position: absolute;
  right: 0;
  top: -0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  mix-blend-mode: lighten;
}

.burger {
  position: relative;
  display: none;
  width: 3.125rem;
  height: 3.125rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
@media (max-width: 86.875rem) {
  .burger {
    display: block;
  }
}
@media (max-width: 703px) {
  .burger {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.burger::before, .burger::after, .burger span {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: var(--white-color);
  border-radius: 2px;
  -webkit-transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier) 0.15s, rotate 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier) 0.15s, rotate 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
  transition: transform 0.15s var(--cubic-bezier), opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier) 0.15s, rotate 0.15s var(--cubic-bezier);
  transition: transform 0.15s var(--cubic-bezier), opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier) 0.15s, rotate 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
}
.burger::before {
  -webkit-transform: translateY(-1.25rem);
  -ms-transform: translateY(-1.25rem);
  transform: translateY(-1.25rem);
}
@media (max-width: 703px) {
  .burger::before {
    -webkit-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
  }
}
.burger::after {
  -webkit-transform: translateY(1.25rem);
  -ms-transform: translateY(1.25rem);
  transform: translateY(1.25rem);
}
@media (max-width: 703px) {
  .burger::after {
    -webkit-transform: translateY(0.75rem);
    -ms-transform: translateY(0.75rem);
    transform: translateY(0.75rem);
  }
}
.burger_active span {
  width: 0px;
  opacity: 0;
  visibility: hidden;
}
.burger_active::before, .burger_active::after {
  -webkit-transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier), rotate 0.15s var(--cubic-bezier) 0.15s, -webkit-transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier), rotate 0.15s var(--cubic-bezier) 0.15s, -webkit-transform 0.15s var(--cubic-bezier);
  transition: transform 0.15s var(--cubic-bezier), opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier), rotate 0.15s var(--cubic-bezier) 0.15s;
  transition: transform 0.15s var(--cubic-bezier), opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), width 0.15s var(--cubic-bezier), rotate 0.15s var(--cubic-bezier) 0.15s, -webkit-transform 0.15s var(--cubic-bezier);
}
.burger_active::before {
  -webkit-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
  rotate: 45deg;
}
.burger_active::after {
  -webkit-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
  rotate: -45deg;
}

.burger-menu {
  padding-top: 5rem;
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--black-color-30);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50vh) scale(0.6);
  -ms-transform: translateY(-50vh) scale(0.6);
  transform: translateY(-50vh) scale(0.6);
  -webkit-transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), visibility 0.15s var(--cubic-bezier), transform 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
}
.burger-menu_active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
}
@media (max-width: 86.875rem) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger-menu .nav__list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20vh;
}
@media (max-width: 48rem) {
  .burger-menu .nav__list {
    gap: 15px;
  }
}
.burger-menu .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(40px) scale(0.6);
  -ms-transform: translateY(40px) scale(0.6);
  transform: translateY(40px) scale(0.6);
  opacity: 0;
  -webkit-transition: opacity 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), transform 0.15s var(--cubic-bezier);
  transition: opacity 0.15s var(--cubic-bezier), transform 0.15s var(--cubic-bezier), -webkit-transform 0.15s var(--cubic-bezier);
}
.burger-menu .nav__item_slow {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}
.burger-menu .nav__link {
  font-size: 2rem;
}
@media (max-width: 48rem) {
  .burger-menu .nav__link {
    font-size: 1.125rem;
  }
}