.text {
  margin-top: 0;
  margin-bottom: 0;

  padding: 0;
}

:is(.h1, .h2) {
  margin: 0;

  padding: 0;

  color: var(--white-color);
  font: 600 rem(16)/1.2 var(--font-secondary);
}

.h1 {
  font-size: min(max(rem(48), 5.5vw), rem(90));
}

.h2 {
  font-size: min(max(rem(32), 5.5vw), rem(50));
}
