// colors
:root {
  // base
  --font-text: 'Open Sans', sans-serif;
  --font-title: "Mont", sans-serif;
  --font-button: "Montserrat", sans-serif;
  --content-width: #{rem(1040)};
  --container-offset: #{rem(16)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --link-color: #0500FF;
  --white-color: #fff;
  --overlay-color: rgba(255, 255, 255, 0.85);
  --background-color: #F4F4F4;
  --black-color: #232323;
  --black-color-50: rgba(45, 45, 45, 0.5);
  --black-shadow-15: rgba(45, 45, 45, 0.15);
  --black-shadow-25: rgba(45, 45, 45, 0.15);
  --red-color: #FF0000;
  --accent-color: #55BB00;
  --selection-color: #54bb0096;
  --other-color: #0C78ED;
  --label-color: #333333;
  --button-gradient: linear-gradient(90.55deg, #55BB00 0%, #0C78ED 100%);
  --note-color: #FF823C;
  --note-light-color: #FFF9E6;
  --note-color-15: rgba(255, 130, 60, 0.15);

  // cubic
  --cubic-bezier: cubic-bezier(.62, .33, .53, .89);
}
