// colors
:root {
  // base
  --font-text: 'Open Sans', sans-serif;
  --font-title: 'Unbounded', sans-serif;
  --content-width: #{rem(1340)};
  --container-offset: #{rem(16)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #D9D9D9;
  --black-color: #0D0D0D;
  --black-color-30: rgba(13, 13, 13, 0.3);
  --primary-color: #29db91;
  --primary-dark-color: #117a4e;
  --background-color: var(--black-color);
  --transparent-color: #00000000;

  // cubic
  --cubic-bezier: cubic-bezier(.62, .33, .53, .89);
}
